<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - Projeto Academia</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/cursorNeon.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-lg navbar-dark"
			style="background-color: #1F1F1F;">
			<a class="navbar-brand" th:href="@{/}" style="font-size: 40px;">
				StrongPeople </a>
			<button style="border: 2px solid white" class="navbar-toggler"
				type="button" data-toggle="collapse" data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navMobile"
				class="navbar-collapse collapse justify-content-end">

				<a class="btn-nav nav-item nav-link" th:href="@{/}"> <i
					class="fa fa-home" aria-hidden="true"></i>Home
				</a> <a class="btn-nav nav-item nav-link" th:href="@{/CadastrarAluno}"><i
					class="fas fa-user-graduate" aria-hidden="true"></i> Cadastrar
					Aluno</a> <a class="btn-nav nav-item nav-link" th:href="@{/listAlunos}"
					><i class="fas fa-search"></i> Pesquisar
					Aluno</a> <a class="btn-nav nav-item nav-link btn-danger"
					><i class="fas fa-times"></i> Sair</a>

			</div>
		</nav>
		<div class="aviso"
			style="background: #3D3D3D; color: white; text-shadow: 1px 1px 0px black;">
			<span>Transforme-se hoje com a StrongPeople Academia!
				Aproveite nossa promoção exclusiva e comece sua jornada de fitness
				com 20% de desconto no primeiro mês. Não perca essa chance de
				alcançar seus objetivos!</span>
		</div>
	</header>


	<footer th:fragment="rodape">
		<div class="rodape">
			<span>Todos os diretos reservados - 2024 &copy; Peter Abenza</span>
		</div>
	</footer>

	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>