@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	height: 90px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

a {
	cursor: pointer;
	font-weight: bold;
}

a.btn-nav:hover {
	color: #D3D3D3;
}

.rodape {
	background-color: #343A40;
	color: white;
	text-align: center;
	opacity: 0.7
}

.aviso {
	background-color: #DCDCDC;
	text-align: center;
}

body {
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	min-height: 814px;
}

.card {
	cursor: pointer;
}

.card:hover {
	font-weight: bold;
}


/* Responsividade */

@media screen and (max-width: 991px){
	nav{height: 100%;}
	.container{margin-top: 120px}
}


